<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./css/stilos.css">

    <link rel="stylesheet" href="./static/img/pexels-karolina-grabowska-8003584.jpg">

    <link rel="icon" href="./static/img/favicon-32x32.png">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    
    
    <!-- Script de Fontawesome -->
    <script src="https://kit.fontawesome.com/53b92063da.js" crossorigin="anonymous"></script>

    <title>Libreria Zzenoba</title>

    
</head>
<body>

    <header>


    </header>

    <main>


    </main>


    <footer>


    </footer>
    
</body>
</html>