<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/stilos.css">

    <link rel="stylesheet" href="../static/img/pexels-karolina-grabowska-8003584.jpg">

    <link rel="icon" href="../static/img/favicon-32x32.png">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    
    
    <!-- Script de Fontawesome -->
    <script src="https://kit.fontawesome.com/53b92063da.js" crossorigin="anonymous"></script>

    <title>Libreria Zzenoba</title>

    
</head>
<body>

    <header>
        <nav>

            <div id="logo">
                <a href="/index.html">
                    <!-- Mas adelante se aplicaran estilos especificos al texto y se agregara un icono -->
                    <i class="fa-solid fa-house"></i>
                    <span class="logo-text">Libreria Zzenoba</span>
                </a>
    
            </div>
            <ul class="nav-links">
                <li><a href="#productos">Productos</a></li>
                <li><a href="./templates/register.html">Registrate</a></li>
                <li><a class="btn-lib" href="#">
                        <i class="fa-solid fa-right-to-bracket fa-beat-fade"></i>
                        <span class="login-text">Iniciar Sesion</span>
                    </a>
                </li>
            </ul>

        </nav>


    </header>

    <main>
        <section id="search" class="container">
            <h2 class="search-title-product">Buscar producto</h2>
            <input type="text" class="input-search" placeholder="Buscar...">
        </section>


    </main>


    <footer id="footer">
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>
    
    </footer>
    
</body>
</html>